openapi: 3.0.0
info:
  title: [Your API Name]
  version: 1.0.0
paths:
  /example:
    get:
      summary: Get an example resource
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Hello, World!
